.DS_Store
__pycache__/
*.swp
*.pyc

# Environments
.envs/

# Poetry
pyproject.toml
poetry.lock

# Conda
environment.yml

# Images and scene files of the generated dataset
output/

# Preprocessed 3D models
image_generation/data/save_models_1/
